@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}
body {
  background-color: #111111;
  color: #fff;
}
p,
a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  line-height: 1.2;
}
li {
  list-style-type: none;
}
.btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Layout  */

.container {
  max-width: 140rem;
  margin: auto;
}

.grid {
  display: grid;
}
.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Layout  */

/* Header  */
header {
  height: 10rem;
  /* border-bottom: 1px solid #ffffff23; */
  background-color: #212121;
  width: 100%;

  & .container {
    height: 10rem;
  }
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;

  & li:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }
}
.active-link {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.ham-menu {
  display: none;
}

.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;
  align-items: center;
}
.heading-xl {
  font-size: clamp(4rem, 6vw, 5.4rem);
  font-weight: 700;
  line-height: 1.15;
}
.paragraph {
  margin: 2rem 0;
  font-size: 20px;
  line-height: 1.5;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .banner-img {
  width: 100%;
}
.btn-darken {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: #ffffff1a;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* single column */
  }
  .hero-content {
    order: 1;
  }
  .hero-img {
    order: 0;
  }
  .hero-section .container {
    margin: 3rem auto;
    gap: 4rem;
  }
  .country-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 520px) {
  .country-container {
    grid-template-columns: 1fr;
  }
}

/* About page  */
.about .container {
  margin: 7rem auto;
}
.about_heading {
  font-size: clamp(3rem, 6vw, 4rem);
  text-align: center;
  margin-bottom: 5rem;
}
.country_card_section {
  padding: 0 3.2rem;
}
.cards {
  gap: 2rem;
}
.card {
  padding: 2rem;
  border: 1px solid #ffffff3b;
  border-radius: 1.5rem;
  background: #424242;
  background: linear-gradient(
    47deg,
    rgba(66, 66, 66, 0.8) 0%,
    rgba(120, 120, 120, 0.1) 45%,
    rgb(82, 82, 82, 0.8) 100%
  );
  transition: all 0.4s;

  &:hover {
    background: linear-gradient(
      47deg,
      rgba(120, 120, 120, 0.1) 0%,
      rgba(66, 66, 66, 0.8) 45%,
      rgba(31, 31, 31, 0.8) 100%
    );
  }
}
.card_heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.card_details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.card_details span {
  color: #ffffffd0;
  font-weight: 600;
}

/* contact page  */
.contact {
  margin: 5rem auto 9rem;
}
.contact_title {
  font-size: 4rem;
  text-align: center;
}
.contact_wraper {
  margin: 4rem 3.2rem;
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;

    & input,
    textarea {
      padding: 1.5rem;
      border: 1px solid #a3a3a3;
      background-color: #ffffff07;
      border-radius: 5px;
      outline: none;
      color: #fff;

      &:focus {
        border-color: rgb(148, 223, 198);
      }
    }
  }
}

.mt-2 {
  margin-top: 2rem;
}

/* country  */
.country-container {
  padding: 7rem 3.2rem;
  gap: 2rem;
}
.country-flag {
  width: 100%;
  height: 150px;
  margin-bottom: 2rem;
}

/* footer  */
.footer {
  border-top: 1px solid #333;
}
.footer_icon_part {
  padding: 4rem 3.2rem;
  gap: 2rem;
  border-bottom: 1px solid #2e2e2e;
}
.icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & h4 {
    font-size: 2rem;
  }
}
.footer-icon {
  font-size: 3rem;
  color: rgb(95, 95, 255);
}
.copyright {
  font-size: 14px;
  text-align: center;
  padding: 3rem 3.2rem 1rem;
}

/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}
