:root {
  --background: #fff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #fff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}
.light-dark-mode {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  transition: all 0.3s;
}
