* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  background: #212121;
  color: #f0f0f0;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 50px auto;
}
.section-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(59, 59, 59);
  border-left: 2px solid red;
}
.buttons {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 0.4rem 1rem;
  cursor: pointer;
  &:first-child {
    background-color: rgb(228, 148, 0);
  }
  &:last-child {
    background-color: rgba(255, 0, 0, 0.911);
    color: #f0f0f0;
  }
}
