.bg {
  width: 180px;
  height: 100px;
  background-color: #999;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem;
}
.switch {
  background-color: red;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border: 2px solid #fff;
  cursor: pointer;
}
.switch span {
  font-size: 2rem;
  font-weight: bold;
}
.on {
  background-color: green;
  transform: translateX(100px);
}
.off {
  background-color: red;
  transform: translateX(0px);
}
